*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NECKLACE */
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    margin: 20px 0px 60px 240px ;
}
.heading h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-wrapper{
    width: 250px;
    margin: 6px;
}
.img{
    aspect-ratio: 3/4;
    object-fit: contain;
    overflow: hidden;
    transform: all ease 0.1s;
}
.img img:hover{
    scale: 1.02;
    cursor: pointer;
}
.card-wrapper a{
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-wrapper a:hover{
    text-decoration: underline;
}
.card-wrapper h2{
    color: rgb(62, 62, 62);
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}